<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73B749E71E706F3B003B9EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B749FB1E706F3B003B9EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B74A061E706F3B003B9EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
